.calendar {
    grid-area: calendar;
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 75vh;
    background-color: #191919;
    border-radius: 10px;
    justify-self: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
}
.calendar-selectors {
    display: flex;
    width: 88%;
    justify-content: space-between;
}

.calendar-month, .calendar-year {
    display: flex;
    align-items: center;
}

.arrow-reverse {
    transform: rotate(180deg);
}

#calendar-month-name, #calendar-year-number {
    font-size: 2em;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.calendar-weekNames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 75vw;
    align-items: center;
    text-align: center;
}
.calendar-weekName {
    /* border: 1px solid #292B2F; */
    font-weight: bold;
}
.calendar-week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
    width: 75vw;
}
.calendar-day {
    text-align: center;
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-radius: 5px;
    /* border: 1px solid #292B2F; */
    /* width: 7vw; */
    height: 9vh;
    /* margin-bottom: 1vh; */
    /* margin-right: 1vw; */
    justify-content: center;
    align-self: center;
    cursor: pointer;
}
.today {
    background-color: #79BCE7;
}

#schedule-create-bg {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.schedule-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.schedule-create-card {
    background-color: #79BCE7;
    width: 652px;
    /* height: 417px; */
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.schedule-create-card form {
    width: 90%;
    flex-direction: column;
}

.schedule-create-card form h3 {
    font-size: 1.5em;
}

.input-name {
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 1vh;
    padding: 1%;
}

.schedule-button-container {
    display: flex;
    justify-content: space-between;
}

.schedule-button {
    width: 45%;
    border: 1px solid transparent;
    background-color: #000;
    color: #fff;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.cancel {
    background-color: transparent !important;
    color: #000 !important;
    border-color: #000;
}