.title {
    font-size: 28px;
    font-weight: bold;
}
.main {
    display: grid;
    grid-template-areas: "body     aside"
                         "calendar aside"
                         "footer   aside"
    ;
    grid-template-columns: 82vw 18vw;
    grid-template-rows: 10vh 80vh 9vh;
}
.aside {
    grid-area: aside;
    background-color: #191919;
    display: grid;
    height: 100vh;
    grid-template-rows: 90vh 10vh;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* padding: 20px; */
}
.members {
    padding-left: 30px;
}
.body {
    grid-area: body;
    margin: 50px;
}
.footer {
    grid-area: footer;
    display: flex;
    justify-self: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.Tcalendar {
    display: flex;
    align-items: center;
}
.calendarIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.TcalendarText {
    color: #fff;
    font-size: 20px;
}
.profile {
    background-color: #292B2F;
    width: 100%;
    padding: 25px 0px 25px 0px;
}
.profile a {
    color: #fff;
    text-decoration: none;
}
.userImage{
    width: 42px;
    height: 42px;
    border-radius: 24px;
}
.profileRow{
    display: flex;
    margin-left: 20px;
}
.profileSubtitle{
    font-size: 10px;
    opacity: 0.5;
    margin: 0px;
}
.profileTitle{
    margin: 0px;
}
.profileText{
    margin-left: 10px;
}
.memberImage{
    width: 64px;
    height: 64px;
    border-radius: 48px;
}
.memberRow{
    display: flex;
    margin: 20px 0 20px 0;
}
.memberSubtitle{
    font-size: 12px;
    opacity: 0.5;
    margin: 0px;
}
.memberTitle{
    margin: 12px 0px 0px 0px;
    font-size: 14px;
}
.memberText{
    margin-left: 10px;
}
#add-member {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.add-member-button{
    border: 1px solid #79BCE7;
    width: 214px;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    color: #79BCE7;
    background-color: #191919;
    cursor: pointer;
    margin-top: 20px;
}
