.title {
    font-size: 28px;
    font-weight: bold;
}
.main {
    display: grid;
    grid-template-areas: "body     aside"
                         "calendar aside"
    ;
    grid-template-columns: 85vw 14vw;
    grid-template-rows: 10vh 90vh;
}
.aside {
    grid-area: aside;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.calendar {
    grid-area: calendar;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    background-color: #191919;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.calendar-weekNames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 75vw;
    align-items: center;
    text-align: center;
}
.calendar-weekName {
    /* border: 1px solid #292B2F; */
    font-weight: bold;
}
.calendar-week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
    width: 75vw;
}
.calendar-day {
    text-align: center;
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-radius: 5px;
    /* border: 1px solid #292B2F; */
    /* width: 7vw; */
    height: 9vh;
    /* margin-bottom: 1vh; */
    /* margin-right: 1vw; */
    justify-content: center;
    align-items: center;
}
.today {
    background-color: #79BCE7;
}

.body {
    grid-area: body;
    margin: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.Tcalendar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendarIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.TcalendarText {
    color: #AEE8E0;
    font-size: 24px;
}
.lines {
    margin: 15px 0px 15px 0px;
    border: 1px solid #4F545C;
    width: 100%;
    border-right: none;
    border-left: none;
}
.profile {
    background-color: #292B2F;
    position:absolute;
    padding: 40px 0px 40px 0px;
    bottom: 0px;
    /* width: 280px; */
}