<div class="calendar">
    <div class="calendar-selectors">
        <div class="calendar-month">
            <div onclick="prevMonth()"><img src="/imgs/arrow.png" alt="" srcset=""></div>
            <p id="calendar-month-name"></p>
            <div onclick="nextMonth()"><img src="/imgs/arrow.png" class="arrow-reverse" alt="" srcset=""></div>
        </div>
        <div class="calendar-year">
            <div onclick="prevYear()"><img src="/imgs/arrow.png" alt="" srcset=""></div>
            <p id="calendar-year-number"></p>
            <div onclick="nextYear()"><img src="/imgs/arrow.png" class="arrow-reverse" alt="" srcset=""></div>
        </div>
    </div>
    <div class="calendar-weekNames">
        <div class="calendar-weekName"><p>DOM</p></div>
        <div class="calendar-weekName"><p>SEG</p></div>
        <div class="calendar-weekName"><p>TER</p></div>
        <div class="calendar-weekName"><p>QUA</p></div>
        <div class="calendar-weekName"><p>QUI</p></div>
        <div class="calendar-weekName"><p>SEX</p></div>
        <div class="calendar-weekName"><p>SÁB</p></div>
    </div>

    <div class="calendar-week" id="calendarWeek">
        <!-- <div class="calendar-day"></div> -->
        <!-- <div class="calendar-day">1</div> -->
    </div>
</div>

<% if(teams.lenght > 0) { %>
<div id="schedule-create-bg">
    <div class="schedule-create-card">
        <form action="/schedules" method="post" id="schedule-form">
            <div class="schedule-form-header">
                <h3>Reunião - <%= teams[0].name %></h3>
                <p id="schedule-form-date"></p>
            </div>
            <label for="description">Descrição:</label>
            <textarea class="input-name" name="description"></textarea>

            <label for="time">Horário:</label>
            <input class="input-name" type="time" name="time" id="schedule-form-datetime">

            <div id="schedule-hidden-inputs"></div>
            
            <input type="hidden" name="id_user" value="<%= user.id %>">
            <input type="hidden" name="id_team" value="<%= teams[0].id %>">

            <div class="schedule-button-container">
                <div class="schedule-button cancel" onclick="toggleModal()"><p>Cancelar</p></div>
                <input class="schedule-button" type="submit" value="Criar">
            </div>
        </form>
    </div>
</div>
<% } %>

<script src="/js/calendar.js"></script>