<div class="teams-container">
    <div class="teams-box-container">
        <% for (let team of teams){ %> 
            <% if(team.id == selectedTeam){ %>
                <div class="team-box selected">
                    <p><%=team.name%></p>
                </div>
            <% } else { %>
                <div class="team-box">
                    <p><%=team.name%></p>
                </div>
            <% } %>
        <% } %> 
    </div>

    <div class="teams-add" onclick="toggleModal()">
        <p>+</p>
    </div>
</div>

<div id="teams-create-bg">
    <div class="teams-create-card">
        <form action="/teams" method="post">
            <h3>Criar Equipe</h3>
            <label for="name">Nome:</label>
            <input class="input-name" type="text" name="name" id="">
            <input type="hidden" name="description" id="" value="">

            <div class="teams-button-container">
                <div class="teams-button cancel" onclick="toggleModal()"><p>Cancelar</p></div>
                <input class="teams-button" type="submit" value="Criar">
            </div>
        </form>
    </div>
</div>

<script src="/js/teams.js"></script>