<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcalendar | Ativar conta</title>
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <p>Ative a sua conta acessando o email de cadastro</p>
</body>
</html>