<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcalendar | Ativar conta</title>
    <link rel="stylesheet" href="/css/loginRegister.css">
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="head">
            <img src="/svgs/logo.svg" class="logo" alt="" srcset="">
            <p class="appname">TCalendar</p>
        </div>
        <div class="body">
            <p class="maintxt">A agenda para organizar seu sucesso</p>
            <div class="button-off button-white button-start">
                <a href="/enterprises/" class="white">Comece agora</a>
            </div>
        </div>
        <div class="aside">
            <p class="text-activate">Ative a sua conta acessando o email de cadastro!</p>            
        </div>
    </div>
</body>
</html>