<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCalendar | Login</title>
    <link rel="stylesheet" href="/css/loginRegister.css">
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="head">
            <img src="/svgs/logo.svg" class="logo" alt="" srcset="">
            <p class="appname">TCalendar</p>
        </div>
        <div class="body">
            <p class="maintxt">A agenda para organizar seu sucesso</p>
            <div class="button-off button-white button-start">
                <a href="/enterprises/" class="white">Comece agora</a>
            </div>
        </div>
        <div class="aside">
            <p class="form-title">Crie uma empresa</p>
            <form action="/enterprises" method="post" class="form">
                <input type="text" class="input" name='name' placeholder="Nome da Empresa" required>
                <input type="submit" class="button" value="Criar empresa">
            </form>
            <div class="button-off">
                <br>
                <a href="/users/logoff" class="black">Sair</a>
            </div>
            
        </div>
    </div>
</body>
</html>