calendar
invite user(email)
if(owner)edit team
agendar horario



<form action="/teams/<%=team.id%>/invite" method="post">
    <input type="text" name="email" placeholder="enviar convite para usuario">
    <input type="submit" value="Enviar convite pra usuario">
</form>


