<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcalendar | Home</title>
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
   
    <% if(enterprise){ %> 
        <p>Bem vindo <%=user.name%> da empresa <a href="/enterprises/home"><%= enterprise.name%></a></p>
        <% } else{ %>
            <p>Você não esta ou é dono de nenhuma empresa</p>
            <a href="/enterprises/">Deseja criar uma empresa ?</a>
            <a href="/users/logoff">sair</a>
    <% } %>
</body>
</html>