<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcalendar | Enterprise Home</title>
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <%  if(owner){ %>
        adicionar usuario na empresa
        <form action="/enterprise_users/" method="post">
            <input type="email" name="email" placeholder="Email do usuario" required>
            <input type="submit" value="Adicionar usuario">
        </form>
    <% } else{ %>
        mostrar times
    <% }  %>
</body>
</html>