<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCalendar | Login</title>
    <link rel="stylesheet" href="/css/loginRegister.css">
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="head">
            <img src="/svgs/logo.svg" class="logo" alt="" srcset="">
            <p class="appname">TCalendar</p>
        </div>
        <div class="body">
            <p class="maintxt">A agenda para organizar seu sucesso</p>
            <div class="button-off button-white button-start">
                <a href="/users/register" class="white">Comece agora</a>
            </div>
        </div>
        <div class="aside">
            <p class="form-title">Login</p>
            <form action="/users/login" method="post" class="form">
                <input type="text" class="input" name='email' placeholder="Email" required>
                <input type="password" class="input" name='password' placeholder="Senha" required>
                <input type="submit" class="button" value="Entrar">
                <a href="/users/forget" class="forgotPwrd">Esqueci minha senha</a>
                <div class="button-off">
                    <a href="/users/register" class="black">Criar conta</a>
                </div>
            </form>
            <% if(err){ %>
                <p> <%=err %> </p>
            <% } %> 
        </div>
    </div>
</body>
</html>