<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCalendar | Login</title>
    <link rel="stylesheet" href="/css/loginRegister.css">
</head>
<body>
    <div class="main">
        <div class="head">
            <img src="/imgs/msn.png" class="logo" alt="" srcset="">
            <p class="appname">TCalendar</p>
        </div>
        <div class="body">
            <p class="maintxt">A agenda para organizar seu sucesso</p>
        </div>
        <div class="aside">
            <p class="form-title">Login</p>
            <form action="" method="post" class="form">
                <input type="text" class="input" name='email' placeholder="Email" required>
                <input type="password" class="input" name='password' placeholder="Senha" required>
                <input type="submit" class="button" value="Entrar">
                <a href="/users/register" class="button-off">Cadastrar-se</a>
            </form>
            <a href="/users/forget">Esqueci minha senha</a>
            <% if(err){ %>
                <p> <%=err %> </p>
            <% } %> 
        </div>
    </div>
</body>
</html>