<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCalendar | Esqueci minha senha</title>
    <link rel="stylesheet" href="/css/loginRegister.css">
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="aside">
            <div>
                <img src="/svgs/logo.svg" class="logo" alt="" srcset="">
                <p class="appname">TCalendar</p>
            </div>
            <form action="/users/forget" method="post">
                <input type="email" name="email" placeholder="Email" required>
                <br>
                <input type="submit" value="Enviar Email de confirmação">
            </form>            
        </div>
    </div>
</body>
</html>