<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCalendar | Cadastro</title>
    <link rel="stylesheet" href="/css/loginRegister.css">
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="head">
            <img src="/svgs/logo.svg" class="logo" alt="" srcset="">
            <p class="appname">TCalendar</p>
        </div>
        <div class="body">
            <p class="maintxt">A agenda para organizar seu sucesso</p>
            
        </div>
        <div class="aside">
            <p class="form-title">Atualizar</p>
            <form action="/users/update" method="post" class="form">
                <div id="userimg" class="userimg-container"></div>
                <p>
                    <label for="image" class="input-image-label">Clique Aqui</label>
                    <input
                        type="file"
                        class="input-image-input"
                        id="image"
                        name="image"
                        accept="image/png, image/jpeg,image/gif"
                        />
                    e faça o upload.
                </p>
                <input type="text" class="input" name='name' placeholder="Nome">
                <input type="password" class="input" name='password' placeholder="Senha">
                <input type="submit" class="button" value="Atualizar">
            </form>
            <% if(err){ %>
                <p> <%=err %> </p>
            <% } %> 
        </div>
    </div>
    <script>
        const avatar = document.getElementById("image");
        avatar.onchange = evt => {
            const [file] = avatar.files;
            console.log('file ',file)
            const img_perfil = document.getElementById("userimg");
            if (file) {
                img_perfil.style.backgroundImage=`url(${URL.createObjectURL(file)})`;
            }
            else{
                img_perfil.style.backgroundImage="url(svgs/default-avatar.svg)"
            }
        }
    </script>
</body>
</html>
